#!/usr/bin/env bash

set -e

PROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

export PROOT

PATH_add "$HOME/.bun/bin"
PATH_add "$HOME/.task"
PATH_add "$HOME/.local/bin"
PATH_add "./bin"

use_bun() {
  watch_file .bun-version
  if ! command -v bun >/dev/null 2>&1; then
    echo "Installing Bun" >&2
    curl -fsSL https://bun.sh/install | bash
  fi

  PATH_add "$HOME/.bun/bin"
  bun install
}

use_task() {
  if ! command -v task >/dev/null 2>&1; then
    echo "Installing Task" >&2
    bun run src/main.ts download task
  fi

  PATH_add "$HOME/.task"
}

use_bun && use_task
